S0KK3C_0928/PA_konyv.dtd

<!ELEMENT konyvtar (konyv)+>
<!ATTLIST konyvtar
  xmlns CDATA #FIXED ''>

<!ELEMENT konyv (cim,kiadasiEv,kiado,szerzo)>
<!ATTLIST konyv
  xmlns CDATA #FIXED ''
  id CDATA #REQUIRED>

<!ELEMENT cim (#PCDATA)>
<!ATTLIST cim
  xmlns CDATA #FIXED ''>

<!ELEMENT kiadasiEv (#PCDATA)>
<!ATTLIST kiadasiEv
  xmlns CDATA #FIXED ''>

<!ELEMENT kiado (#PCDATA)>
<!ATTLIST kiado
  xmlns CDATA #FIXED ''>

<!ELEMENT szerzo (#PCDATA)>
<!ATTLIST szerzo
  xmlns CDATA #FIXED ''>