S0KK3C_1116/usersS0KK3C.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/usersS0KK3C" xmlns:tns="http://www.example.org/usersS0KK3C" elementFormDefault="qualified">

	<xs:element name="users">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="user" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="firstName" type="xs:string" />
							<xs:element name="lastName" type="xs:string" />
							<xs:element name="profession" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>
