S0KK3C_1005/PA_book.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT books (book)*>
<!ELEMENT book (title, published, publisher, author+, abstract?>

	<!ATTLIST book id ID #REQUIRED>
	<!ELEMENT title (#PCDATA)>
	<!ELEMENT published (#PCDATA)>
	<!ELEMENT publisher (#PCDATA)>
	<!ELEMENT author (#PCDATA)>
	<!ELEMENT abstract (#PCDATA)>